
body {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: purple;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: palegoldenrod;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: green;
    color: white;
  }

ul {
    list-style: none;
}

ol {
    width: 20%;
    margin: auto;
    text-align: left;
}

.photos img {
    width:360px ;
    height: 240px;
    object-fit: cover;

}

.me {

    font-weight: bolder;
    background-color: aquamarine;
    padding: 40px 40px 40px 40px;
    
}

.about {

    background-color: palegoldenrod;
    padding: 60px 40px 60px 40px;

}

.hobbies {

    background-color: aquamarine;
    padding: 40px 40px 40px 40px;

}

table {

    border: solid;
    border-color: purple;
    border-style: double;
    border-collapse: collapse;
    
}

th, td {
    border-left: solid purple;
    padding: 5px 10px 5px 10px;
}

.about p {
    font-size: 2em;
    font-weight: bold;
}